# Ignore all but config (.)files
/*
!.*

.*.swp

.account
.adanaxis
.addressbook*
.adobe
.android
.ash_history
.avidemux
.bash_history
.bashrc
.cache
.CFUserTextEncoding
.chromium-bsu
.cola
.compiz*
.composer
.config
.dbus
.dmrc
.DS_Store
.dvdcss
.eclipse
.ecryptfs
.emacs
.esd_auth
.evolution
.fluxbox
.fontconfig
.fullcircle
.gconf
.gconfd
.gegl-0.0
.gimp*
.gitconfig
.gitk
.gksu.lock
.gnome2
.gnupg
.goutputstream*
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.hg.cvsps
.hgrc
.histfile
.ICEauthority
.icedtea*
.icons/
.IdeaIC10
.install4j
.java
.javafx_eula_accepted
.jenkins
.k5login
.kde
.lesshst
.links
.local
.m2
.MacOSX
.macromedia
.maildir
.mission-control
.mozilla
.mplayer
.mysql_history
.naimlog
.naimprofile
.naimrc
.nbi
.netbeans*
.netrc
.netx
.nv
.oh-my-zsh
.openoffice.org
.padre
.passwords
.pinepw
.pinerc*
.pki
.plan
.prboom
.Private
.project
.pulse
.pulse-cookie
.purple/
.qt
.recently-used.xbel
.rnd
.signon/
.Spark/
.ssh
.subversion
.sudo_as_admin_successful
.thumbnails
.thunderbird/
.trackballs
.Trash
.trigger
.tsclient
.update-notifier
.vim
.viminfo
.vnc
.Xauthority
.xine
.xscreensaver-getimage.cache
.xsession-errors*
.zcompdump
.zsh-update
.zsh_history
.zshrc.oh-my-zsh
.history
