# Ignore all but config (.)files
/*
!.*

.*.swp

.account
.adanaxis
.addressbook*
.adobe
.android
.ash_history
.avidemux
.bash_history
.bash_profile
.bashrc
.cache
.CFUserTextEncoding
.chromium-bsu
.cola
.compiz*
.composer
.config
.cups
.dbshell
.dbus
.dmrc
._.DS_Store
.DS_Store
.dvdcss
.eclipse
.ecryptfs
.emacs
.esd_auth
.evolution
.fehbg
.fluxbox
.fontconfig
.fullcircle
.gconf
.gconfd
.gegl-0.0
.gimp*
.gitconfig
.gitk
.gksu.lock
.gnome2
.gnupg
.goutputstream*
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.hg.cvsps
.hgrc
.histfile
.history
.ICEauthority
.icedtea*
.icons/
.IdeaIC10
.install4j
.java
.javafx_eula_accepted
.jenkins
.jira/
.k5login
.kde
.lein/
.lesshst
.links
.local
.m2
.MacOSX
.macromedia
.maildir
.mission-control
.mozilla
.mplayer
.mysql_history
.naimlog
.naimprofile
.naimrc
.nbi
.netbeans*
.netrc
.netx
.nv
.nvidia-settings-rc
.oh-my-zsh
.openoffice.org
.padre
.passwords
.pearrc
.pinepw
.pinerc*
.pki
.plan
.prboom
.Private
.profile
.project
.pulse
.pulse-cookie
.purple/
.qt
.racketrc
.recently-used.xbel
.review_ticket
.rnd
.signon/
.Spark/
.ssh
.steam
.steampath
.steampid
.subversion
.sudo_as_admin_successful
.thumbnails
.thunderbird/
.trackballs
.Trash
.trigger
.tsclient
.update-notifier
.vim/attic
.vim/autoload/
.vim/bundle/
.viminfo
.vim/.netrwhist
.vnc
.wine/
.wine-browser/
.Xauthority*
.xine
.xscreensaver
.xscreensaver-getimage.cache
.xsession-errors*
.zcompdump
.zprofile
.zshenv
.zsh_history
.zshrc.oh-my-zsh
.zsh-update
