# Ignore all but config (.)files
/*
!.*

.*.swp
.bash_history
.bashrc
.gimp*
.gitconfig
.jenkins
.kde
.m2
.macromedia
.mission-control
.mplayer
.mysql_history
.nbi
.netbeans*
.ssh
.subversion
.thumbnails
.trackballs
.trigger
.tsclient
.update-notifier
.vim
.viminfo
.xine
.xscreensaver-getimage.cache
.xsession-errors*
